<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.i7baoz.knowledge.dao.mapper.RoleBeanMapper" >
  <resultMap id="BaseResultMap" type="cn.i7baoz.model.standard.RoleBean" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, is_del, created_by, created_date, updated_by, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shiro_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shiro_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.i7baoz.model.standard.RoleBean" >
    insert into shiro_role (id, `name`, is_del, 
      created_by, created_date, updated_by, 
      updated_date)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into shiro_role (id, `name`, is_del, 
      created_by, created_date, updated_by, 
      updated_date) values 
    <foreach collection="list" item="bean" index="index" separator="," >
       (#{bean.id,jdbcType=BIGINT}, #{bean.name,jdbcType=VARCHAR}, #{bean.isDel,jdbcType=TINYINT}, 
        #{bean.createdBy,jdbcType=BIGINT}, #{bean.createdDate,jdbcType=TIMESTAMP}, #{bean.updatedBy,jdbcType=BIGINT}, 
        #{bean.updatedDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <update id="batchUpdateChanged" parameterType="java.util.List" >
    update shiro_role
    <trim prefix="set" suffixOverrides="," >
      <trim prefix="`name` =case" suffix="end," >
        <foreach collection="list" item="i" index="index" >
          <if test="i.name!=null" >
            when id = #{i.id,jdbcType=BIGINT} then #{i.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_del =case" suffix="end," >
        <foreach collection="list" item="i" index="index" >
          <if test="i.isDel!=null" >
            when id = #{i.id,jdbcType=BIGINT} then #{i.isDel,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_by =case" suffix="end," >
        <foreach collection="list" item="i" index="index" >
          <if test="i.createdBy!=null" >
            when id = #{i.id,jdbcType=BIGINT} then #{i.createdBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="created_date =case" suffix="end," >
        <foreach collection="list" item="i" index="index" >
          <if test="i.createdDate!=null" >
            when id = #{i.id,jdbcType=BIGINT} then #{i.createdDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_by =case" suffix="end," >
        <foreach collection="list" item="i" index="index" >
          <if test="i.updatedBy!=null" >
            when id = #{i.id,jdbcType=BIGINT} then #{i.updatedBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="updated_date =case" suffix="end," >
        <foreach collection="list" item="i" index="index" >
          <if test="i.updatedDate!=null" >
            when id = #{i.id,jdbcType=BIGINT} then #{i.updatedDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
     where 
    <foreach collection="list" separator="or" item="i" index="index" >
      id = #{i.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="insertSelective" parameterType="cn.i7baoz.model.standard.RoleBean" >
    insert into shiro_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.i7baoz.model.standard.RoleBean" >
    update shiro_role
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.i7baoz.model.standard.RoleBean" >
    update shiro_role
    set `name` = #{name,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>